.about {
    padding: 20px;

    &.container-color {
        background-color: blue;
        color: white;
    }

    .inside-container {
        background-color: white;
        color: black;

        .innermost-container {
            background-color: lime;
            padding-left: 20px;
        }
    }

}
