body {
    margin-top: 10px;
}

.pos-center {
    text-align: center;
}

.container {
    margin: 10px 10px;
}

.container-color {
    background-color: #f8f8f8;
}


/*
    example of nesting properties,
    below code will compile into :

    .my {
        font-family: serif;
        font-size: 20px;
        font-weight: bold
    }
*/
.my {
    font: {
        family: serif;
        size: 20px;
        weight: bold;
    }
}


//for..
$list-rows: 10;
@for $i from 1 through $list-rows {
  .row-#{$i} {
      margin-top: $i * 10px;
  }
}
